@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-ani {
  display: inline-block;
  position: relative;
}

.underline-ani:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #2F84FF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-ani:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.editScroll::-webkit-scrollbar {
  width: 10px;
}

.editScroll::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid #2F84FF;
}

.editScroll::-webkit-scrollbar-thumb {
  background: #2F84FF;
  border-radius: 10px;
}